<body class="">

    <nav id="header" class="" t>
        <div class="">
            <div class="">
                <h1 class="">
                    Add Stock
                </h1>
            </div>
          </div>
      </nav>

  
        <section class="">
        
            <hr class="">

            <div class="">
                <form>
                    <div class="">
                        <div class="">
                            <label class="">
                                Company
                            </label>
                        </div>
                        <div class="">
                            <input class="" id="companyName" type="text" value="">
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label class="">
                                Ticker
                            </label>
                        </div>
                        <div class="">
                            <input class="" id="ticker" type="text" value="">
                        </div>
                    </div>

                    <div class="">
                        <div class="">
                            <label class="">
                                Shares Purchased
                            </label>
                        </div>
                        <div class="">
                            <input class="" id="sharesPurchased" type="text" value="">
                        </div>
                    </div>

                    <div class="">
                        <div class="">
                            <label class="">
                                Total Cost
                            </label>
                        </div>
                        <div class="">
                            <input class="" id="totalCost" type="text" value="">
                        </div>
                    </div>
                </form>

            </div>

            <hr class="">

         

            <div class="">
                <form>

  
            <hr class="">



                <div class=" ">
                    <button id="btnSave" class="" type="button">
                        Save
                    </button>
                    <button id="btnCnl" class="" type="button">
                        Cancel
                    </button>
                </div>

            </div>
  

        </section>
        <script src= "/assets/js/addNew.js"></script>
</body>