<div>
  <h1 id="dash-header">Stock Portfolio of:</h1>
  <h1><b>{{usrData.0.first_name}} {{usrData.0.last_name}}</h1>
  <button id="logout">Log Out</button>
</div>
  
<div>
  <a href="/addNew">
    Add New Stock
  </a>
</div>

  <div id="data-table">
    <div>Date</div>
    <div>Symbol</div>
    <div>Current Price</div>
    <div> Total Cost</div>
    <div>Total Shares</div>
    <div>Gain/Loss</div>
 </div>





<script src= "/Stock_Buddy/public/assets/js/dashboard.js"></script>
<script src= "/Stock_Buddy/public/assets/js/login.js"></script>