{{!-- <div class="db-content"> --}}
  <div>
    <nav>
      <a href="/" class="home">Home</a>
     <a class="logOut" href="/">Log Out</a>
    </nav>
  </div>
 <div class="db-content"> 
  <div>
    <h1 id="dash-header"><i>Stock Portfolio of:</i></h1>
    <h1><b>---USER---</b></h1>
  </div>

  <div>
    <a class="addBtn" href="/addNew">Add New Stock</a>
  </div>

  <table style="width:100%">
    <tr>
      <th>Company</th>
      <th>Ticker</th>
      <th>Shares</th>
      <th>Total Cost</th>
    </tr>
    {{#each stocks}}
    <tr>
      <td>{{name}}</td>
      <td>{{ticker}}</td>
      <td>{{shares}}</td>
      <td>{{cost}}</td>
    </tr>
    {{/each}}
  </table>  {{!-- if each for list? td --}}
</div>

<script src="/assets/js/dashboard.js"></script>
<script src="/assets/js/logout.js"></script>

