<div>
  <h1 id="dash-header"><i>Stock Portfolio of:</i></h1>
  <h1><b>{{usrData.0.first_name}} {{usrData.0.last_name}}</b></h1>
</div>
  
<div>
  <a class="addBtn" href="/addNew"><i>Add New Stock +</i></a>
</div>

<div id="data-table-wrapper">
  <div id="data-table">
    <div id="time" class="data">Current Time</div>
    <div class="data">Symbol</div>
    <div class="data">Current Price</div>
    <div class="data">Total Cost</div>
    <div class="data">Total Shares</div>
    <div class="data">Gain/Loss</div>
  </div>
</div>




<script src= "/Stock_Buddy/public/assets/js/dashboard.js"></script>
<script src= "/Stock_Buddy/public/assets/js/login.js"></script>