<div>
  <h1 id="dash-header"><i>Stock Portfolio of:</i></h1>
  <h1><b>{{usrData.0.first_name}} {{usrData.0.last_name}}</b></h1>
</div>
  
<div>
  <a class="addBtn" href="/addNew"><i>Add New Stock +</i></a>
</div>

<div id="data-table-wrapper">
  <div id="data-table">
    <div id="time" class="data">Current Time <span class="data-input"></span></div>
    <div id="symbol" class="data">Symbol <span class="data-input"></span></div>
    <div id="cPrice" class="data">Current Price <span class="data-input"></span></div>
    <div id="tCost" class="data">Total Cost <span class="data-input"></span></div>
    <div id="tShares" class="data">Total Shares <span class="data-input"></span></div>
    <div id="cPrice" class="data">Gain/Loss <span class="data-input"></span></div>
  </div>
</div>




<script src= "/Stock_Buddy/public/assets/js/dashboard.js"></script>
<script src= "/Stock_Buddy/public/assets/js/login.js"></script>