<div>
  <h1>Stock Portfolio of:</h1>
  <h1><b>{{usrData.0.first_name}} {{usrData.0.last_name}}</h1>
  <button id="logout">Log Out</button>
</div>
  
<div>
  <a href="/addNew">
    Add New Stock
  </a>
</div>



<div>

  <div>

    <div>

      <div>

        <table id="logTable">

          <thead>

            <tr>

              <th>

                Date

              </th>

               <th>

                Symbol

              </th>

              <th>

                Current Price

              </th>

              <th>

                Total Cost

              </th>

              <th>

                Total Shares

              </th>

              <th>

                Gain/Loss

              </th>
