<header>
    <h1>Stock-Buddy</h1>
</header>

<section id="main">
    <form id="signup-form">
        <div id="email-pass">
            <label for="email">Email Address</label>
            <input type="text" placeholder="Email" id="email-input" class="">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password-input" class="">
        </div>
        <div id="sign-log">
            <button id="login" class="button"><a class="loginB" href="/dashboard">Login</a></button>
            <button id="fpass" class="button">Forgot Password?</button>
            <button id="signup" class="button"><a class="signupB" href="/signUp">Sign Up</a></button>
        </div>
    </form>
</section>
<script src= "/public/assets/js/login.js"></script>