<div> 
    <div>
        <div>
                <span>Stock Buddy</span>
            <div>
                <div>
                        <label>Email<label>
                        <input value="" type="text" placeholder="Email" id="email">
                        <label>Password<label>
                        <input value="" type="password" placeholder="Password" id="password">
                        <div>
                        <button type="submit" id="loginButton">Login</button>
                        <a href="/forgotPassword">Forgot password?</a><br> 
                        <a href="/signUp" id="signupLink">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                  
        
<script src= "/Stock_Buddy/public/assets/js/login.js"></script>


