<div>
    <div>
        <span class="">Sign Up</span>
    </div>
    <div>
        <form id="signup">
            <label for"fname" class="">First Name</label>
            <input type="text" placeholder="First Name" id="first-name" class="">
            
            <label class="block font-semibold py-5">Last Name</label>
            <input type="text" placeholder="Last Name" id="last-name" class="">
                        
            <label for "email" class="block font-semibold py-5">Email</label>
            <input type="email" placeholder="Email" id="user-email" class="">

            <label class="block mt-3 font-semibold py-5">Password</label>
            <input type="password" placeholder="Password - Min 8 characters" id="password" class="">
                        
            <label class="">Confirm Password</label>
            <input type="password" placeholder="Password - Min 8 characters" id="confirmPassword" class="">
            <div class="">
            <button type="submit" id="signUpButton" class="">Sign up!</button>
            <a href="/" class="">Already have an account?</a><br>
        </form>
    </div>
</div>

<script src= "/js/signup.js"></script>
