/* @import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:ital,wght@1,700&family=Libre+Baskerville&family=Open+Sans:wght@400;700&family=PT+Sans+Narrow&family=Source+Code+Pro:wght@600&display=swap'); */

/* MAIN.handlebars */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #logout {
    height: 40px;
    margin: 20px;
} */

.logOut {
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin: 20px;
    background-color: white ;
    padding: 5px;
}

.home {
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin: 20px;
    background-color: white ;
    padding: 5px;
}

/* HOMEPAGE.handlebars */

header {
    /* margin-top: 28vh; */
    font-size: 3vw;
    color: white;
}

#dash-header {
    margin-top: 15vh;
    font-size: 4vw;
}

body {
    text-align: center;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    /* background-image: linear-gradient(36deg, #036300, #160f75); */
    height: 100vh;
}

.home-content {
    background-color: rgba(0%, 0%, 0%, 0.6);
    width: 100%;
    height: 65%;
    color: white;
    padding-bottom: 15px;
    border-radius: 25px;
    position:relative;
    margin-top:150px;
}


#main {
    display: flex;
    justify-content: center;
}

label {
    /* font-family: 'Abel', sans-serif; */
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 10px;
}


#signup {
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
}

#email-pass {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    width: 34vw;
}

#sign-log {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
    color:black;
}

.signupTitle{
    padding-bottom:10px;
    font-size:36px;
}

.signup-content{
    display: block;
    font-size: larger;
    padding: 20px;
    background-color: rgba(0%, 0%, 0%, 0.6);
    /* width: 100%;
    height: 50%; */
    border-radius: 25px;
    height: 60%;
    color:white;

}

#signup-form{
    justify-content: center;
}
.signupBtn{
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
    margin-top:20px;
}

.existingAcct {
    color:white;
    margin-top: 15px;
}
.loginB, .signupB, .fpass {
    text-decoration: none;
    color: black;
    font-size: larger;
}
#fpass {
    margin-top: 10px;
}
#loginB {
    margin-bottom:20px;
}

/* ADDNEW.handlebars */

#header-addnew{
    justify-content: center;
    font-size: 30px;
}
.addnew-title {
    text-align: center;
}

/* DASHBOARD.handlebars */

#dash-header {
    margin-top: 15vh;
    font-size: 4vw;
}

#data-table-wrapper {
    text-align: left;
}

.db-content {
    background-color: rgba(0%, 0%, 0%, 0.6);
    color: white;
    padding-bottom: 15px;
    height: 60%
}


.addnewstock{
    background-color: rgba(0%, 0%, 0%, 0.6);
    color: white;
    padding-bottom: 15px;
    border-radius: 25px;
}


#data-table {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.data {
    font-size: 1.5vw;
    font-weight: bolder;
    margin-top: 30px;
}

.addBtn {
    text-decoration: none;
    color: black;
    font-size: larger;
    background-color: rgb(240, 134, 96);
    padding:5px; 
    /* border-radius: 15%; */
    border: white, 3px;
}
/* ADDNEW.handlebars */

#header-addnew {
    justify-content: center;
    font-size: 30px;
}

.addnew-title {
    text-align: center;
}

table {
    width:100%;
    padding: 5px;
    margin-top: 10px;
}
th, td {
  border-style:solid;
  border-color: white;
}