@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:ital,wght@1,700&family=Libre+Baskerville&family=Open+Sans:wght@400;700&family=PT+Sans+Narrow&family=Source+Code+Pro:wght@600&display=swap');

/* MAIN.handlebars */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logout {
    height: 40px;
    margin: 20px;
}

.logOut {
    text-decoration: none;
    color: black;
}

.home {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 20px;
}

/* HOMEPAGE.handlebars */

header {
    margin-top: 28vh;
    font-size: 3vw;
}

body {
    text-align: center;
    /*background-image: url('/public/assets/pictures/background.jpg');*/
    background-image: linear-gradient(36deg, #036300, #160f75);
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;

}

label {
    font-family: 'Abel', sans-serif;
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 10px;
}

#signup-form {
    font-size: larger;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 25px;
    background-color: aliceblue;
    height: 20vh;
}

#email-pass {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    width: 34vw;
}

#sign-log {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.button {
    width: 25%;
    height: 40px;
    border-radius: 10px;
}

.loginB,
.signupB {
    text-decoration: none;
    color: black;
}

/* DASHBOARD.handlebars */

#dash-header {
    margin-top: 15vh;
    font-size: 4vw;
}

#data-table-wrapper {
    text-align: left;
}

#data-table {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.data {
    font-size: 1.5vw;
    font-weight: bolder;
    margin-top: 30px;
}

.addBtn {
    text-decoration: none;
    color: white;
    font-size: larger;
}